<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes Hamilton</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <header>
        <div class="menu">
         <img src="/img/HEROES.png" alt="">
         <nav>
            
         <ul type="none">
             <li><a href="/">Home</a></li>
             <li><a href="/babbage">Babbage</a></li>
             <li><a href="/berners-lee">Berners-lee</a></li>
             <li><a href="/clarke">clarke</a></li>
             <li><a href="/hamilton">Hamilton</a></li>
             <li><a href="/hopper">Hopper</a></li>
             <li><a href="/lovelace">Lovelace</a></li>
             <li><a href="/turing">Turing</a></li>
         </ul>
     </nav>
        </div>
     </header>
    <h1 align="center">Hamilton</h1>
    <img src="/img/hamilton.jpg" alt="Hamilton">
    <h3>Margaret Hamilton</h3>
    <p>(Cleveland, Ohio, 9 de diciembre de 1902 — Salisbury, Connecticut, 16 de mayo de 1985) fue una actriz estadounidense de cine conocida principalmente por su representación en la película El mago de Oz en 1939 como la "Malvada bruja del Oeste". En sus últimos años, Hamilton participó en varias series de televisión estadounidenses y grabó unos cuantos spot publicitarios. Fue una acérrima defensora de los derechos de los animales y de los niños.</p>
    <ol>
        <li><a href="#Vida y trabajo">Vida y trabajo</a></li>
        <li><a href="#Vida privada">Vida privada</a></li>
        <li><a href="#Vejez y muerte">Vejez y muerte</a></li>
        <li><a href="#Enlaces externos">Enlaces externos</a></li>
    </ol>

    <h3 id="Vida y trabajo">Vida y trabajo</h3>
    <p>Nació el 9 de diciembre de 1902 en Cleveland, Ohio. En 1939 trabajó junto con Judy Garland en la película El mago de Oz, en donde hizo de "Bruja Mala del Oeste". Durante el rodaje de la película, Margaret sufrió unas quemaduras por causa de los efectos del humo naranja y la explosión (cuando se retira de Munchkinland) antes de salir por la trampilla del suelo y pasó 6 semanas en el hospital recuperándose. Cuando volvió al trabajo, rechazó completamente el volver a utilizar fuego. Con el paso de los años, ella siempre recordó este suceso como una anécdota y de forma alegre.

        Apareció en algunos capítulos de la afamada serie de televisión The Addams Family en el papel de la mamá de Morticia Adams (interpretada por Carolyn Jones) y de Ophelia, hermana de Morticia.</p>
    <h3 id="Vida privada">Vida privada</h3>  
    <p>Margaret Hamilton contrajo matrimonio el 13 de junio de 1931 con Paul Boynton Meserve, un arquitecto de paisajes. Un año más tarde, en 1932, hizo su debut en los escenarios de Nueva York. Contaba con 30 años de edad. Mientras que su carrera despegaba favorablemente, su matrimonio empezó a tener problemas, y terminó en divorcio en 1938. Tuvieron un hijo, Hamilton Wadsworth Meserve (1936-), al que crio ella sola. Margaret nunca se volvió a casar.</p>  
    <h3 id="Vejez y muerte"></h3>
    <p>A partir de 1980, Margaret Hamilton mostró un notable envejecimiento y dejó de aparecer en los medios de comunicación. En diciembre de 1982, hizo una breve aparición con motivo de su 80º aniversario. Finalmente, Margaret Hamilton moriría en su casa de Salisbury (Connecticut, Estados Unidos), mientras dormía. Su muerte se produjo por un ataque al corazón. Tenía 82 años y fue incinerada en el cementerio de Poughkeepsie Rural y sus cenizas esparcidas en Amenia (Nueva York).</p>

    <h3 id="Enlaces externos">Enlaces externos</h3>
    <ul>
        <li><a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(actriz)" target="_blank">Wikipedia</a></li>
    </ul>



</body>
<footer>
    <div>
      
       <a href="/babbage"><img src="/img/1.jpg" alt="babbage"></a>
   
       <a href="/berners-lee"><img src="/img/2.jpg" alt="berners-lee"></a>
   
       <a href="/clarke"><img src="/img/3.jpg" alt="clarke"></a>
   
       <a href="/hamilton"><img src="/img/4.jpg" alt="hamilton"></a>
   
       <a href="/hopper"><img src="/img/5.jpg" alt="hopper"></a>
   
       <a href="/lovelace"><img src="/img/6.jpg" alt="lovelace"></a>
   
       <a href="/turing"><img src="/img/7.jpg" alt="turing"></a>
   
    </div>
           
   </footer>  
</html>